html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.posterImg {
    width: 100px;
}

#movieDropdown {
    position: absolute;
    max-height: 500px;
    width: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.hide {
    visibility: hidden;
}
